<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    each cssFile in htmlWebpackPlugin.files.css
      link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
  body.flex.flex-col.flex-no-wrap.items-center.justify-center.min-h-screen
    h1.text-center.text-gray-900.font-black.text-xl.antialiased.tracking-wide Web scaffolding
    each jsFile in htmlWebpackPlugin.files.js
      if jsFile.search(/mjs/) !== -1
        script(type='module', src= jsFile.substr(htmlWebpackPlugin.files.publicPath.length))
