<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    each cssFile in htmlWebpackPlugin.files.css
      link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
  body
    h1.text-gray-700 Scaffolding
    each jsFile in htmlWebpackPlugin.files.js
      if jsFile.search(/mjs/) !== -1
        script(type='module', src= jsFile.substr(htmlWebpackPlugin.files.publicPath.length))
